


<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
    <div class="sidebar-brand-text mx-6">
        {% if snippets['Dashboard Logo URL'] %}<img src="{{ snippets['Dashboard Logo URL'] }}" alt="{{ snippets['Dashboard Logo alt text'] }}" style="width: 150px; height: auto;">{% endif %}
        {% comment%}
        {% if snippets['Dashboard Site name'] %}<h3 class="siteTitle">{{ snippets['Dashboard Site name'] }}</h3>{% endif %}
        {% endcomment%}
    </div>
</a>